body {
  background-color: #f9f3ec;
  color: #40514E;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{
  line-height: 2;
}

hr {
  background-color: white;
  border-style: dotted none none none;
  border-color: grey;
  border-width: 5px;
  font-size: 16px;
  height: 0px;
  width: 4%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}

/*********************************** Class *************************************/
.profilepic {
  margin-top: 100px;
  height: 200px;
  width: 200px;
}

.top {
  background-color: #d7f7f5;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 50px;
  top: 100px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
}
.above-myskills{
  margin-bottom: 100px;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.football {
  width: 25%;

  float: right;
  margin-left: 30px;
}

.skill-row{
  margin-bottom: 100px;
}
.inro{
  width: 30%;
}
.contact-me{
  margin-bottom: 100px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background-color: #63aabc;
  padding-top: 50px;
  padding-bottom: 50px;
}
